extends layout

block content
    img(src="/images/logo.png",width="25%",height="auto")
    h2 Share, Support, Survive.

    // Wrapper
    #wrapper

        // USER INFO
        #userInfo
            h2 User Info
            p
                strong Name:
                |  <span id='userInfoName'></span>
                br
                strong Email:
                |  <span id='userInfoEmail'></span>
        // /USER INFO

        // USER LIST
        h2 Signups
        #userList
            table
                thead
                    th UserName
                    th Email
                    th Delete?
                tbody
        // /USER LIST
        
        .row        
          // ADD USER
          h2.black Get the invite
          #addUser
              fieldset
                  input#inputUserName(type='text', placeholder='Username')
                  input#inputUserEmail(type='text', placeholder='Email')
                  br
                  button#btnAddUser.a.btn.btn-secondary.btn-lg.scroll Request Invite
          // /ADD USER

          // DONATE
          a.btn.btn-primary.btn-lg.scroll(href="http://www.gofundme.com/socha",target="_blank") Donate
          // /DONATE

    // /WRAPPER

