extends layout

block content
    h1= title
    p Keep Me Posted!

    // Wrapper
    #wrapper

        // USER LIST
        h2 Signups
        #userList
            table
                thead
                    th UserName
                    th Email
                    th Delete?
                tbody
        // /USER LIST

    // /WRAPPER