
body, html, h2, h2, p, input, button {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  font-weight: bolder;
  font-size: 5em;
  letter-spacing: 4px;
}

h2 {
  font-family: 'Playfair Display', sans-serif;
  font-weight: normal;
  font-size: 2em;
}

h1, h2 {
  color: white;
}

.wrapper {
  display: grid;
  grid-template-columns: 3em auto 3em;
  align-items: center;
  background: url(../images/background.jpg) center center no-repeat;
  background-size: cover;
  height: 100vh;
}

.socha__content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  grid-column: 2/3;
  align-items: center;
}

.socha__logo {
  grid-row: 1;
  justify-content: center;
}

.socha__text {
  grid-row: 2;
  text-align: center;
  color: #fff;
}

.socha__text--bold {
  font-family: 'Helvetica', sans-serif;
  font-weight: bolder;
}

form, .form__fields {
  grid-row: 3;
  margin-top: 2.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

input, button {
  height: 54px;
  width: 285px;
  border: none;
  font-family: 'Helvetica', sans-serif;
}

input {
  margin: 0 1em 0 0;
  padding-left: 15px;
  font-size: 16px;
  color: #3B3D40;
}

button#btnAddMember {
  background-color: #DFF9FB;
  color: #000;
  text-transform: uppercase;
  font-size: 19px;
} 

@media (max-width: 767px) {
  input {
    margin: 0 0 1em 0;
  }
  form, .form__fields {
    flex-direction: column;
  }
  input, button#btnAddMember {
    font-size: 12px;
    width: 150px;
    height: 30px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 26px;
  }
}

